@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');
/*
@font-face {
    font-family: "Matter";
    src: url("./Font/Matter400.woff2");
    font-weight: 400;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Matter";
    src: url("./Font/Matter500.woff2");
    font-weight: 500;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Matter";
    src: url("./Font/Matter700.woff2");
    font-weight: 700;
    margin: 0;
    padding: 0;
}
*/
/* #tech-stack {
    overflow-x: hidden !important;
} */

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background-color: rgb(231, 225, 255);
}

.dark-theme ::selection {
    background-color: rgb(110, 156, 170);
}

html{
    scroll-behavior: smooth;
    background-color: #eef1f8;
}

li{
    list-style-type: none;
}

section {
    background-color: #eef1f8;
    transition: all 500ms ease;
}

input, textarea {
    width: 100%;
    background-color: #242424;
    color: #fff;
    outline: none;
    border: 2px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 300ms ease;
    font-size: 15px;
    font-weight: 600;
}

input:hover, textarea:hover {
    border-color: #dcdfe6;
}

input:focus, textarea:focus{
    border-color: rgb(78, 33, 255);
}

textarea {
    resize: vertical;
    height: 100px;
    margin-top: 8px !important;
}

label{
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 6px;
}

.title__color{
    color: rgb(78, 33, 255);
}

.text-color{
    color: rgb(78, 33, 255);
}

.text-color-modal{
    color: rgb(78, 33, 255);
}

p{
    line-height: 1.5;
    font-size: 16px;
}

a{
    text-decoration: none;
}

.click{
    transition: all 300ms ease;
    cursor: pointer;
}

.click:hover{
    transform: scale(1.1);
}

.click:active{
    transform: scale(0.8);
}

button{
    cursor: pointer;
}

.container{
    padding: 50px 0;
    width: 100%;
}

.row{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 12px;
}

.link__hover-effect{
    position: relative;
}

.link__hover-effect:after{
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after{
    left: 0;
    width: 100%;
}

.link__hover-effect--white:after{
    background-color: #fff;
}

.link__hover-effect--black:after{
    background-color: #333;
}

.link__hover-effect--purple:after {
    color:rgb(78, 33, 255)
}

nav, .scroll, header {
    opacity: 1;
    visibility: visible;
    transition: all 600ms 500ms;
}

.modal--open nav, .modal--open .scroll, .modal--open .header {
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
}

/* DARK THEME */

.dark-theme .title, .dark-theme .section__title, .dark-theme .section__sub-title, .dark-theme .nav__link--anchor,
.dark-theme .fa-adjust, .dark-theme .header__para, .dark-theme .fa-globe, .dark-theme {
    color: #fff;
}

.dark-theme section {
    background-color: #141617;
}

.dark-theme .text-color, .dark-theme .title__color, .dark-theme .experience__year{
    color:rgb(31, 214, 255)
}

.dark-theme .personal-logo{
    filter: invert(1)
}

.dark-theme .social__link, .dark-theme .mail__btn {
    background-color: rgb(31, 214, 255);
    color: #333;
}

.dark-theme .scroll__icon::after {
    background-color: #fff;
}

.dark-theme .scroll__icon {
    border-color: #fff;
}

.dark-theme .link__hover-effect--black:after{
    background-color: #fff;
}

.dark-theme .projects__filter--btn {
    border-color:rgb(31, 214, 255);
    color: rgb(31, 214, 255);
}

.dark-theme .projects__filter--btn:hover, .dark-theme .selected__filter {
    background-color: rgb(31, 214, 255);
    color: #232323;
}

.dark-theme .project__loading {
    color: rgb(31, 214, 255);
}

.dark-theme #tech-stack {
    background-color: #16181a;
}

.dark-theme .skill p {
    color: #eef1f8;
}

.dark-theme #tech-stack::before, .dark-theme #tech-stack::after {
    filter: invert(0.86)
}

.dark-theme #tech-stack {
    background-color: #252525;
}

.dark-theme .experience__tooltip {
    background-color: #292b2e;
}

.dark-theme .experience__tooltip--para {
    color: #c0c4cc;
}

.dark-theme .experience__tooltip::after {
    border-top: 10px solid #292b2e;
}

.rotate {
    animation: rotate 500ms ease;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* NAVIGATIE BAR */

.personal-logo{
    width: 50px;
    height: 50px;
    transition: all 300ms ease;
}

.personal-logo:hover {
    opacity: 0.7;
}

nav{
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(231, 225, 255);
    z-index: 50;
    background-color: #eef1f8;
    border-bottom: 2px solid rgb(212, 212, 212);
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px;
}

.nav__link--list{
    display: flex;
}

.nav__link{
    margin: 0 12px;
    display: flex;
    align-items: center;
}

.nav__link--anchor{
    text-decoration: none;
    color: #242424;
    font-size: 18px;
    font-weight: 700;
}

.fa-adjust{
    font-size: 20px;
    color: #242424;
}

.nav__link--language {
    color: #242424;
    font-size: 20px;
    display: flex;
    align-items: center;
    transition: all 200ms ease-out;
}

.nav__link--language:hover {
    transform: scale(1.05);
}

.language__selector{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
}

.language__selector:hover .nav__language__name {
    transform: scale(1);
}

/* LANDING SECTIE */
#landing{
    min-height: 100vh;
}

.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}

.title{
    font-size: 80px;
    font-weight: 800;
    text-align: left;
    line-height: 1.1;
}

.title__color {
    font-size: 80px;
    font-weight: 800;
    text-align: left;
    line-height: 1.1;
    color: rgb(78, 33, 255);
}

.typing__cursor {
    color: #535353;
    animation: typing 1200ms infinite ease;
    font-size: 80px;
    font-weight: 600;
    text-align: left;
    line-height: 1.1;
}

.dark-theme .typing__cursor{
    color: #fff;
}

@keyframes typing {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.header__para{
    font-size: 22px;
    line-height: 1.7;
    font-weight: 500;
    max-width: 520px;
    margin-top: 8px;
}

.social__list{
    margin-top: 16px;
    display: flex;
}

.social__link{
    background-color: rgb(78, 33, 255);
    color: #fff;
    padding: 6px 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.mail__btn{
    position: fixed;
    bottom: 32px;
    right: 40px;
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: rgb(78, 33, 255);
    color: #fff;
    z-index: 500;
    box-shadow: 0 12px 30px 0 rgb(0,0,0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.language__btn{
    position: fixed;
    bottom: 112px;
    right: 40px;
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    /*background-color: rgb(78, 33, 255);*/
    background-color: transparent;
    color: #fff;
    z-index: 5;
    /*box-shadow: 0 12px 30px 0 rgb(0,0,0, 0.4);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.language__flag {
    width: 40px;
}

.scroll{
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%)
}

.scroll__icon{
    width: 20px;
    height: 30px;
    border: 2px solid #232323;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll__icon:after{
    content: "";
    width: 4px;
    height: 6px;
    background-color: #242424;
    border-radius: 4px;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
    0%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(-3px);
    }
}

/* MODAL */

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibility 1000ms, z-index 1s, box-shadow 0.5s ease;
    overflow: hidden !important;
}

.modal--open .modal{
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgb(0,0,0, 0.45);
    visibility: visible;
}

.modal__half{
    width: 50%;
    position: relative;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 300ms ease-in;
    overflow: hidden !important;
}

.modal--open .modal__about,
.modal--open .modal__contact {
    transform: translateX(0%);
}

.modal__about{
    background-color: #fafafa;
    transform: translateX(-110%);
}

.modal__languages{
    display: flex;
    flex-wrap: wrap;
}

.modal__language{
    width: 25%;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
}

.language__name {
    color: #232323;
}

.modal__language:hover .language__name {
    transform: scale(1);
}

.modal__language:hover{
    filter: brightness(80%);
    transform: scale(0.9);
}

.modal__language--img{
    width: 100%;
}

.modal__contact{
    background-color: #242424;
    color: #fff;
    transform: translateX(110%);
}

.modal__title {
    font-size: 40px;
}

.modal__subtitle{
    font-size: 18px;
    margin: 12px 0 24px 0;
}

.modal__para{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 24px;
    line-height: 1.7;
    max-width: 380px;
}

.modal__para--about, .modal__subtitle--about, .modal__title--about {
    color: #232323;
}

.language__name{
    position: absolute;
    bottom: -10px;
    font-weight: 500;
    transform: scale(0);
    transition: all 300ms ease;
}

.form__item{
    margin-bottom: 20px;
}

.form__submit{
    background-color: rgb(78, 33, 255);
    border: 2px solid rgb(78, 33, 255);
    color: #fff;
    padding: 12px 28px;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 24px;
    transition: all 300ms ease;
}

.form__submit:hover{
    background-color: transparent;
    border: 2px solid rgb(78, 33, 255);
}

.form__submit:active{
    box-shadow: 0 20px 80px 0 rgb(78, 33, 235, 0.4);
    color:rgb(78, 33, 255);
}

.modal__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal__overlay--loading{
    background-color: rgb(78, 33, 255);
    font-size: 80px;
    z-index: -1;
}

.modal__overlay--success{
    background-color: #4bb543;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 30px;
    z-index: -1;
}

.modal__overlay--success{
    background-color: #b42727;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 30px;
    z-index: -1;
}

.modal__overlay--visible{
    z-index: 1;
    display: flex;
}

.fa-spinner{
    	animation: spinner 750ms infinite linear;
}

@keyframes spinner {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg);
    }
}

.modal__exit{
    position: absolute;
    top: 30px;
    right: 40px;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    z-index: 100;
    cursor: pointer;
}

/* PROJECTEN */

.section__title{
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
}

.project__img{
    width: 100%;
    transition: all 300ms ease;
}

.project {
    margin-bottom: 120px;
}

.project__wrapper{
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgb(0,0,0, 0.45);
    overflow: hidden;
    z-index: 20;
}

.project__wrapper:hover .project__img{
    filter: blur(5px);
    transform: scale(1.07)
}

.project__wrapper:hover .project__description {
    opacity: 1;
    transform: translateY(-50%)
}

.project__description{
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    opacity: 0;
    color: #fff;
    transition: opacity 300ms, transform 450ms ease;
    max-width: 550px;
}

.project__wrapper--bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d1b26;
    opacity: 0;
    transition: all 500ms ease;
}

.project__wrapper:hover .project__wrapper--bg {
    opacity: 0.7;
}

.project__description--title {
    font-size: 40px;
    margin-bottom: 8px;
}

.project__description--link{
    color: #fff;
    font-size: 20px;
    transition: all 300ms ease;
}

.project__description--link:hover {
    color: rgb(212, 212, 212)
}

.project__description--para{
    margin: 16px 0;
}

.projects__btn {
    text-align: center;
    border: none;
    background-color: rgb(78, 33, 255);
    color: #fff;
    padding: 16px 24px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 12px;
    transition: all 300ms ease;
}

.projects__btn:hover {
    background-color: rgb(117, 82, 255)
}

.projects__btn:active {
    transform: scale(0.9);
}

.project__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects__filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.projects__filter--btn {
    background-color: transparent;
    border: 2px solid rgb(78, 33, 255);
    color: rgb(78, 33, 255);
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
    padding: 8px 18px;
    margin: 0 12px;
    transition: all 300ms ease;
    margin-bottom: 24px;
}

.projects__filter--btn:hover {
    background-color: rgb(78, 33, 255);
    color: #fff;
}

.selected__filter {
    background-color: rgb(78, 33, 255);
    color: #fff;
}

.project__loading {
    color: rgb(78, 33, 255);
    margin-top: 32px;
    font-size: 60px;
    display: none;
    visibility: hidden;
    opacity: 0;
}

.loading__wrapper {
    display: none;
}

.spinner-visible .project__loading {
    display: block;
    visibility: visible;
    opacity: 1;
}

.spinner-visible .loading__wrapper {
    display: block;
}

.loading__wrapper {
    text-align: center;
}

#projects-landing {
    min-height: 101vh;
}

nav, .project__list, .projects__filter {
    opacity: 1;
    visibility: visible;
    transition: all 600ms 500ms;
}

.modal--open .project__list, .modal--open nav, .modal--open .section__title, .modal--open .projects__filter {
    visibility: hidden;
    opacity: 0;
    transition: all 400ms;
}

.modal--open {
    overflow: hidden;
}

/* 

Skills & Experience

*/

.tech__wrapper {
    display: flex;
    justify-content: space-between;
}

.skills__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.skill {
    width: 25%;
    padding: 1.5rem 1rem;
    cursor: pointer;
    transition: all 300ms ease;
    text-align: center;
    color: #292b2e;
    font-weight: 600;
    user-select: none;
    z-index: 10;
}

.skill p {
    font-size: 14px;
}

.skill:hover {
    transform: scale(1.1);
}

.skill__icon {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.skill__img {
    width: 40px;
}

.experience__wrapper {
    width: 50%;
    padding: 2rem 4rem;
    padding-right: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
}

.experience__row {
    display: flex;
    width: 100%;
}

.experience__info {
    width: 75%;
    position: relative;
    cursor: pointer;
    padding-top: 3rem;
}

.experience__tooltip {
    position: absolute;
    top: 0%;
    left: 10%;
    transform: translate(0, -80%);
    background-color: #fff;
    padding: 1.5rem;
    z-index: 19;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 4px 32px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 100%;
    max-width: 380px;
    transition: all 300ms ease;
}

@keyframes slide-up {
    0% {
        transform: translateY(-60%);
    }
    100% {
        transform: translateY(-80%);
    }
}

.experience__tooltip::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: transparent;
    border: 10px solid transparent;
    border-bottom: 0;
    border-top: 10px solid #fff;
    bottom: 0;
    transform: translate(-50%, 100%);
    left: 50%;
    z-index: 200;
}

.experience__info:hover .experience__tooltip {
    visibility: visible;
    opacity: 1;
    animation: slide-up 400ms ease;
}

.experience__tooltip--para {
    font-size: 14px;
    text-align: center;
    color:#66686b;
    line-height: 1.5;
}

.experience__year {
    color:rgb(78, 33, 255);
    width: 25%;
    font-size: 20px;
    padding-top: 3rem;
}

.experience__role {
    font-size: 20px;
    margin-bottom: 4px;
}

.experience__location {
    font-size: 14px;
    color: #66686b;
}

#tech-stack {
    background-color: #fffdff;
    position: relative;
}

/* #tech-stack::before {
    content: url('./Assets/wave.svg');
    background-color: transparent;
    width: 100%;
    height: 15vw;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    z-index: 0;
    transition: all 500ms ease;
}

#tech-stack::after {
    content: url('./Assets/wave.svg');
    background-color: transparent;
    width: 100%;
    height: 15vw;
    position: absolute;
    bottom: 1px;
    transform: rotate(180deg) translateY(-100%);
    z-index: 1;
    transition: all 500ms ease;
} */

/* FOOTER */

footer{
    position: relative;
    background-color: #242424;
    display: flex;
    padding: 2% 0;
}

.footer__logo{
    width: 60px;
    filter: invert(1);
    transition: all 300ms ease
}

.footer__logo:hover{
    opacity: 0.7;
    cursor: pointer;
}

.footer__logo--img{
    margin-bottom: 16px;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.footer__social--link, .footer__copyright {
    color: #fafafa;
}

.footer__social--link{
    font-weight: 500;
    font-size: 17px;
}

.footer__social--list{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
}

.footer__copyright{
    font-size: 14px;
    font-weight: 500;
}

/* SHAPES */

.shape{
    position: fixed;
    z-index: 10;
}

.shape--0 {
    top: 15vh;
    left: 5vw;
}

.shape--1 {
    top: 15vh;
    left: 50vw;
}

.shape--2 {
    top: 15vh;
    left: 80vw;
}

.shape--3 {
    top: 50vh;
    left: 5vw;
}

.shape--4 {
    top: 50vh;
    left: 50vw;
    display: none;
}

.shape--5 {
    top: 50vh;
    left: 80vw;
}

.shape--6 {
    top: 80vh;
    left: 5vw;
}

.shape--7 {
    top: 80vh;
    left: 50vw;
}

.shape--8 {
    top: 80vh;
    left: 80vw;
}

.nav__dots {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 2%;
    top: 50%;
    transform: translate(-2%, -50%);
    z-index: 500;
}

.nav__dot {
    background-color: rgb(213, 207, 238);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-bottom: 12px;
    cursor: pointer;
}

.nav-dot-current {
    transform: scale(1.2);
    background-color: rgb(170, 150, 252);
}

/* Small Phones, tablets, large smart phones */

@media (max-width: 1200px) {
    .experience__tooltip {
        left: 0%;
    }
}

@media(max-width: 768px) {
    .title, .title__color, .typing__cursor{
        font-size: 72px;
    }

    .header__para {
        font-size: 20px;
    }

    .modal {
        top: 0;
        left: 0;
        transform: none;
        height: auto;
        width: 100%;
        flex-direction: column-reverse;
    }

    .modal__half{
        width: 100%;
        border-radius: 0px !important;
    }

    .modal--open {
        overflow: scroll;
    }

    .skill {
        width: calc(100% / 3)
    }

    .experience__wrapper {
        padding-left: 2rem;
    }

    .experience__tooltip {
        width: 90vw;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .experience__row {
        position: relative;
    }

    .experience__info {
        position: static;
    }

    @keyframes slide-up {
        0% {
            transform: translate(-50%, -20%);
        }
        100% {
            transform: translate(-50%, -50%);
        }
    }
}

@media (max-width: 650px) {
    .shape {
        display: none;
    }

    .tech__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills__wrapper {
        width: 80%;
        margin-bottom: 3rem;
    }

    .experience__wrapper {
        width: 80%;
        margin-bottom: 3rem;
    }

    .section__title {
        font-size: 36px;
    }
}

@media(max-width: 480px) {
    .title, .title__color, .typing__cursor{
        font-size: 54px;
    }

    .header__para {
        font-size: 18px;
    }

    .nav__link:first-child {
        display: none;
    }

    .project__description--para{
        display: none;
    }

    .project__description--sub-title{
        margin-bottom: 20px;
        max-width: 260px;
        font-size: 16px;
    }

    .project__description {
        text-align: center;
        top: 50%;
        left: 50%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, 150%);
    }

    .project__description--title {
        font-size: 32px;
    }

    .project__description--sub-title {
        margin-right: 0;
    }

    .project__wrapper:hover .project__description {
        transform: translate(-50%, -50%);
    }

    .modal__half{
        padding: 40px;
    }

    .skills__wrapper {
        width: 90%;
    }

    .experience__wrapper {
        width: 90%;
        padding: 1rem;
    }

    .experience__year {
        font-size: 18px;
    }

    .experience__role {
        font-size: 18px;
    }
}